<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GeoStats</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/styles.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-custom navbar-fixed-top">
          <form class="navbar-form" onSubmit="return false;">
            <div class="form-group" style="display:inline;">
              <div class="input-group">
                <input id="searchTextField" type="text" class="form-control" placeholder="What are you searching for?">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
              </div>
            </div>
          </form>
        </div>
    </div>

    <div id="map-canvas"></div>
    <div class="container-fluid" id="main">
      <div class="row">
      	<div class="col-xs-4" id="left">

          <h2 id='place-name'>Geo Stats</h2>

          <hr>

          <!-- item list -->
          <div class="panel panel-default">
            <div class="panel-heading"><a href="">Population</a></div>
          </div>
          <div class="total" style="height:400;">
            <table></table>
          </div>

          <hr>

          <!-- item list -->
          <div class="panel panel-default">
            <div class="panel-heading"><a href="">Demographics</a></div>
          </div>
          <div class="race" style="height:400;">
            <table></table>
          </div>

          <hr>

          <div class="panel panel-default">
            <div class="panel-heading"><a href="">Age and Gender</a></div>
          </div>
          <div class="genderAge" style="height:400;">
          </div>

          <hr>

          <div class="panel panel-default">
            <div class="panel-heading"><a href="">Item heading</a></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</p>

          <hr>

          <div class="panel panel-default">
            <div class="panel-heading"><a href="">Item heading</a></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</p>

          <hr>
          <!-- /item list -->

          <p>
          <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source Code</a>
          </p>

          <hr>

          <p>
          <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
          </p>

          <hr>

        </div>
        <div class="col-xs-8"><!--map-canvas will be postioned here--></div>

      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/d3.min.js" charset="utf-8"></script>
    <script src="js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_-kmPXekKQwImQJQB7IzbFi2jfhaJVo&libraries=geometry,places&callback=initMap"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
